/** Table 表格样式 **/
#qgg-table{
    border-collapse: collapse;
    width:100%;
    border:1px solid #c6c6c6 !important;
    margin-bottom:20px;
}
#qgg-table th{
    border-collapse: collapse;
    border-right:1px solid #c6c6c6 !important;
    border-bottom:1px solid #c6c6c6 !important;
    background-color:#ddeeff !important;
    padding:5px 9px;
    font-size:14px;
    font-weight:normal;
    text-align:center;
}
#qgg-table td{
    border-collapse: collapse;
    border-right:1px solid #c6c6c6 !important;
    border-bottom:1px solid #c6c6c6 !important;
    padding:5px 9px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
    word-break: break-all;
}
qgg-table tr:nth-child(odd){
    background-color:#fff !important;
}
qgg-table tr:nth-child(even){
    background-color: #f8f8f8 !important;
}